:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 28px;
  color-scheme: light dark;
  color: black;
  background-color: whitesmoke;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}
